.iframe {
  display: flex;
  width: 90%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: #1abc9c;
  border-radius: 20px;
  margin-top: 40px;

  &__container-video {
    margin-top: 40px;
    width: 17rem;
  }

  &__video {
    width: 17rem;
  }

  &__title {
    color: white;
    width: 80%;
  }

  &__text {
    color: white;
    width: 80%;
  }

  @media (min-width: 426px) and (max-width: 1025px) {
    &__video {
      width: 40rem;
      height: 23rem;
    }

    &__container-video {
      width: 40rem;
    }

    &__title {
      font-size: 2.5rem;
    }

    &__text {
      font-size: 1.5rem;
    }
  }

  @media (min-width: 1025px) {
    &__video {
      width: 68rem;
      height: 38rem;
    }

    &__container-video {
      width: 68rem;
    }

    &__title {
      font-size: 5rem;
    }
  }
}
